{% extends "base/base.html" %}

{% block content %}
    <div class="container align-content-center">
        <div class="card col-10">
            <div class="card-header">
                <h1>Group Details</h1>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="form-floating mb-3 col-6">
                            {{ form.name }}
                            <label for="{{ form.name.auto_id }}"
                                   class="form-label text-body-emphasis">Name</label>
                        </div>
                        <div class="form-floating mb-3 col-6">
                            {{ form.address }}
                            <label for="{{ form.address.auto_id }}"
                                   class="form-label text-body-emphasis">Address</label>
                        </div>
                        <div class="form-floating mb-3 col-6">
                            {{ form.postalcode }}
                            <label for="{{ form.postalcode.auto_id }}"
                                   class="form-label text-body-emphasis">Postalcode</label>
                        </div>
                        <div class="form-floating mb-3 col-6">
                            {{ form.city }}
                            <label for="{{ form.city.auto_id }}"
                                   class="form-label text-body-emphasis">City</label>
                        </div>
                        <div class="card card-body mb-2">
                            <h6>Members</h6>
                            {% for member in form.group_members %}
                                <div class="form-check form-switch">
                                    {{ member }}
                                    <label class="form-check-label">{{ member.label }}</label>
                                </div>
                            {% endfor %}
                        </div>
                        {% if user.is_superuser %}
                            <div class="card card-body mb-2">
                                <div class="form-control">
                                    {{ form.pdf_template }}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <button type="submit" class="btn btn-primary">{{ action }}</button>
                </form>
            </div>
            <div class="card-footer">
                <h7>Residents:</h7>
                {% for resident in group_residents %}
                    <a href="{% url 'resident' resident.id %}" class="text-body-emphasis">{{ resident }},</a><br>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}