{% extends "base/base.html" %}
{% block content %}
    <div class="container align-content-center">
        <div class="card col-10">
            <div class="card-header">
                <h1>Group Details</h1>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="form-floating mb-3 col-6">
                            {{ form.name }}
                            <label for="{{ form.name.auto_id }}"
                                   class="form-label text-body-emphasis">Name</label>
                        </div>
                        <div class="form-floating mb-3 col-6">
                            {{ form.address }}
                            <label for="{{ form.address.auto_id }}"
                                   class="form-label text-body-emphasis">address</label>
                        </div>
                        <div class="form-floating mb-3 col-6">
                            {{ form.postalcode }}
                            <label for="{{ form.postalcode.auto_id }}"
                                   class="form-label text-body-emphasis">postalcode</label>
                        </div>
                        <div class="form-floating mb-3 col-6">
                            {{ form.city }}
                            <label for="{{ form.city.auto_id }}"
                                   class="form-label text-body-emphasis">city</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">{{ action }}</button>
                </form>
            </div>
            <div class="card-footer">
                {% for member in group_member %}
                    <a href="{% url 'resident' member.id %}" class="text-body-emphasis">{{ member }}</a><br>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}