{% extends "base/base.html" %}
{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h1>Groups</h1>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Postalcode</th>
                    <th>City</th>
                </tr>
                {% for group in groups %}
                    <tr>
                        <th><a href="{% url 'group' group.id %}"
                               class="text-body-emphasis">{{ group.name }}</a></th>
                        <th><a href="{% url 'group' group.id %}"
                               class="text-body-emphasis">{{ group.address }}</a></th>
                        <th><a href="{% url 'group' group.id %}"
                               class="text-body-emphasis">{{ group.postalcode }}</a></th>
                        <th><a href="{% url 'group' group.id %}"
                               class="text-body-emphasis">{{ group.city }}</a></th>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="card-footer py-4">
            <a href="{% url "add_group" %}" class="btn btn-primary"><i class="bi bi-people"></i> New
                group</a>
        </div>
    </div>
{% endblock %}