{% extends "base/base.html" %}
{% load static %}

{% block customjs %}
    <script>
        async function post_presence(user_id, presence) {
            const url = "{% url "update-presence" %}";
            const data = {
                protocol: {{ protocol.id }},
                user: user_id,
                was_present: presence
            };
            try {
                const response = await fetch(url, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": "{{ csrf_token }}"
                    },
                    body: JSON.stringify(data),
                });

                if (response.ok) {
                    const result = await response.json();
                    console.log("Presence updated successfully:", result);
                } else {
                    const errorData = await response.json();
                    console.error("Failed to update presence:", errorData);
                }
            } catch (error) {
                console.error("An error occurred:", error);
            }
        }

        async function post_value(item_id, name, value, position) {
            const url = "{% url "update-item" %}";
            const data = {
                item_id: item_id,
                protocol: {{ protocol.id }},
                name: name,
                value: value,
                position: position
            };
            try {
                const response = await fetch(url, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": "{{ csrf_token }}"
                    },
                    body: JSON.stringify(data),
                });

                if (response.ok) {
                    const result = await response.json();
                    console.log("Item updated successfully:", result);
                } else {
                    const errorData = await response.json();
                    console.error("Failed to update presence:", errorData);
                }
            } catch (error) {
                console.error("An error occurred:", error);
            }
        }

        async function delete_item(item_id) {
            const url = "{% url "update-item" %}";
            const data = {
                item_id: item_id
            }
            try {
                const response = await fetch(url, {
                    method: "DELETE",
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": "{{ csrf_token }}"
                    },
                    body: JSON.stringify(data),
                });
                if (response.ok) {
                    const result = await response.json();
                    console.log("Item deleted successfully:", result);
                    document.getElementById("li-" + item_id).remove()
                }
            } catch (error) {
                console.error("An error occurred:", error);
            }
        }

        async function append_item() {
            await post_value('', '<Neu>', '', 99)
            location.reload();
        }
    </script>
    <script>
        $(document).ready(function () {
            document.querySelectorAll('.auto-resize').forEach(textarea => {
                textarea.addEventListener('input', () => {
                    textarea.style.height = 'auto'; // Reset height to calculate
                    textarea.style.height = `${textarea.scrollHeight}px`; // Set new height
                });
            });
            document.querySelectorAll('.auto-resize').forEach(textarea => {
                const event = new Event('input', {bubbles: true});
                textarea.dispatchEvent(event);
            });
        })
    </script>
{% endblock %}


{% block content %}
    <div class="card">
        <div class="card-header">
            <h2>Protokoll {{ protocol.protocol_date }}</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="card card-body shadow-sm col-2">
                    <h6>Group-Information:</h6>
                    <div class="small">{{ protocol.group.name }}</div>
                    <div class="small">{{ protocol.group.get_full_address }}</div>
                </div>
                <div class="card card-body shadow-sm col-2">
                    <h6>Presence:</h6>
                    <div id="presence_list" class="row-cols-2">
                        {% for user in presence_list %}
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckReverse"
                                       onclick="post_presence({{ user.user.id }},this.checked)"
                                       {% if user.was_present %}checked{% endif %}>
                                <label class="form-check-label"
                                       for="flexSwitchCheckReverse">{{ user.user.get_full_name }}</label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="card card-body shadow-sm mt-2 col-12">
                    <ul id="sortable" class="list-group list-group-flush">
                        {% for item in protocol_items %}
                            <li class="list-group-item row" id="li-{{ item.id }}"
                                onchange="post_value({{ item.id }},document.getElementById('input-{{ item.id }}').value, document.getElementById('textarea-{{ item.id }}').value,0)">
                                <div class="card card-body shadow-sm">
                                    <input id="input-{{ item.id }}" class="form-control" value="{{ item.name }}">
                                    <textarea id="textarea-{{ item.id }}"
                                              class="form-control auto-resize overflow-hidden">{{ item.value }}</textarea>
                                </div>
                                <div class="btn col-1 float-end" onclick="delete_item({{ item.id }})"><i
                                        class="bi bi-trash3"></i> Delete
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary" onclick="append_item()">Add Item</button>
        </div>
    </div>
{% endblock %}