{% extends "base/base.html" %}
{% load static %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h2>Protokoll {{ protocol.protocol_date }}</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="card card-body shadow-sm col-2">
                    <h6>Group-Information:</h6>
                    <div class="small">{{ protocol.group.name }}</div>
                    <div class="small">{{ protocol.group.get_full_address }}</div>
                </div>
                <div class="card card-body shadow-sm col-2 float-end">
                    <h6>Presence:</h6>
                    <div id="presence_list" class="row-cols-2">
                        {% for user in presence_list %}
                            <div class="form-check form-switch form-check-reverse">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckReverse">
                                <label class="form-check-label" for="flexSwitchCheckReverse">{{ user.user.get_full_name }}</label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="card card-body shadow-sm mt-2 col-12">
                    <ul id="sortable" class="list-group list-group-flush">
                        {% for item in protocol_items %}
                            <li class="list-group-item">
                                <div class="card card-body shadow-sm">
                                    <input class="form-control" value="{{ item.name }}">
                                    <textarea class="form-control">{{ item.value }}</textarea>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary" onclick="">Add Item</button>
        </div>
    </div>
{% endblock %}