{% extends "base/base.html" %}
{% block content %}
    <div class="container align-content-center">
        <div class="card col-10">
            <div class="card-header">
                <h1>Resident Details</h1>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="form-floating mb-3 col-4">
                            {{ form.picture }}
                            <label for="{{ form.picture.auto_id }}" class="form-label text-body-emphasis">Picture</label>
                        </div>
                        <div class="col-9"></div>
                        <div class="form-floating mb-3 col-6">
                            {{ form.first_name }}
                            <label for="{{ form.fist_name.auto_id }}"
                                   class="form-label text-body-emphasis">Firstname</label>
                        </div>
                        <div class="form-floating mb-3 col-6">
                            {{ form.last_name }}
                            <label for="{{ form.last_name.auto_id }}"
                                   class="form-label text-body-emphasis">Lastname</label>
                        </div>
                        <div class="form-floating mb-3 col-6">
                            {{ form.moved_in_since }}
                            <label for="{{ form.moved_in_since.auto_id }}" class="form-label text-body-emphasis">Moved in since
                                </label>
                        </div>
                        <div class="form-floating mb-3 col-6">
                            {{ form.moved_out_since }}
                            <label for="{{ form.moved_out_since.auto_id }}" class="form-label text-body-emphasis">Moved out since</label>
                        </div>
                        <div class="form-floating mb-3 col-6">
                            {{ form.group }}
                            <label for="{{ form.group.auto_id }}" class="form-label text-body-emphasis">Group</label>
                            {% if form.group.value == None %}

                            {% else %}
                                <a href="{% url "group" form.group.value %}" class="text-body-emphasis">to group <i
                                        class="bi bi-box-arrow-up-right"></i></a>
                            {% endif %}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">{{ action }}</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}